/* stylelint-disable */

.navigationWrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    html[data-theme='dark'] & {
      background: #444;
    }
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &.active {
      background: #000;
      html[data-theme='dark'] & {
        background: #fff;
      }
    }
  }
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #0009;
  html[data-theme='dark'] & {
    fill: #fff9;
  }
  cursor: pointer;
  &.left {
    left: 5px;
  }
  &.right {
    left: auto;
    right: 5px;
  }
  &.disabled {
    fill: #6668;
    html[data-theme='dark'] &.disabled {
      fill: #aaa8;
    }
  }
}

.slideItem {
  min-height: 5em;
  margin: 0 auto;
}
